--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY "public"."supplier" DROP CONSTRAINT IF EXISTS "supplier_user_id_fkey";
ALTER TABLE IF EXISTS ONLY "public"."skualias" DROP CONSTRAINT IF EXISTS "skualias_user_id_fkey";
ALTER TABLE IF EXISTS ONLY "public"."skualias" DROP CONSTRAINT IF EXISTS "skualias_canonical_sku_fkey";
ALTER TABLE IF EXISTS ONLY "public"."sale" DROP CONSTRAINT IF EXISTS "sale_user_id_fkey";
ALTER TABLE IF EXISTS ONLY "public"."sale" DROP CONSTRAINT IF EXISTS "sale_product_id_fkey";
ALTER TABLE IF EXISTS ONLY "public"."purchaseorderitem" DROP CONSTRAINT IF EXISTS "purchaseorderitem_product_id_fkey";
ALTER TABLE IF EXISTS ONLY "public"."purchaseorderitem" DROP CONSTRAINT IF EXISTS "purchaseorderitem_po_id_fkey";
ALTER TABLE IF EXISTS ONLY "public"."purchaseorder" DROP CONSTRAINT IF EXISTS "purchaseorder_supplier_id_fkey";
ALTER TABLE IF EXISTS ONLY "public"."purchaseorder" DROP CONSTRAINT IF EXISTS "purchaseorder_created_by_fkey";
ALTER TABLE IF EXISTS ONLY "public"."product" DROP CONSTRAINT IF EXISTS "product_user_id_fkey";
ALTER TABLE IF EXISTS ONLY "public"."product" DROP CONSTRAINT IF EXISTS "product_supplier_id_fkey";
ALTER TABLE IF EXISTS ONLY "public"."notification" DROP CONSTRAINT IF EXISTS "notification_user_id_fkey";
ALTER TABLE IF EXISTS ONLY "public"."inventoryledger" DROP CONSTRAINT IF EXISTS "inventoryledger_product_id_fkey";
ALTER TABLE IF EXISTS ONLY "public"."connector" DROP CONSTRAINT IF EXISTS "connector_created_by_fkey";
DROP INDEX IF EXISTS "public"."ix_user_email";
DROP INDEX IF EXISTS "public"."ix_supplier_name";
DROP INDEX IF EXISTS "public"."ix_skualias_alias_sku";
DROP INDEX IF EXISTS "public"."ix_purchaseorder_supplier_id";
DROP INDEX IF EXISTS "public"."ix_purchaseorder_status";
DROP INDEX IF EXISTS "public"."ix_product_sku";
DROP INDEX IF EXISTS "public"."ix_product_name";
DROP INDEX IF EXISTS "public"."ix_inventoryledger_source";
ALTER TABLE IF EXISTS ONLY "public"."user" DROP CONSTRAINT IF EXISTS "user_pkey";
ALTER TABLE IF EXISTS ONLY "public"."supplier" DROP CONSTRAINT IF EXISTS "supplier_pkey";
ALTER TABLE IF EXISTS ONLY "public"."skualias" DROP CONSTRAINT IF EXISTS "skualias_pkey";
ALTER TABLE IF EXISTS ONLY "public"."sale" DROP CONSTRAINT IF EXISTS "sale_pkey";
ALTER TABLE IF EXISTS ONLY "public"."purchaseorderitem" DROP CONSTRAINT IF EXISTS "purchaseorderitem_pkey";
ALTER TABLE IF EXISTS ONLY "public"."purchaseorder" DROP CONSTRAINT IF EXISTS "purchaseorder_pkey";
ALTER TABLE IF EXISTS ONLY "public"."product" DROP CONSTRAINT IF EXISTS "product_pkey";
ALTER TABLE IF EXISTS ONLY "public"."notification" DROP CONSTRAINT IF EXISTS "notification_pkey";
ALTER TABLE IF EXISTS ONLY "public"."inventoryledger" DROP CONSTRAINT IF EXISTS "inventoryledger_pkey";
ALTER TABLE IF EXISTS ONLY "public"."connector" DROP CONSTRAINT IF EXISTS "connector_pkey";
DROP TABLE IF EXISTS "public"."user";
DROP TABLE IF EXISTS "public"."supplier";
DROP TABLE IF EXISTS "public"."skualias";
DROP TABLE IF EXISTS "public"."sale";
DROP TABLE IF EXISTS "public"."purchaseorderitem";
DROP TABLE IF EXISTS "public"."purchaseorder";
DROP TABLE IF EXISTS "public"."product";
DROP TABLE IF EXISTS "public"."notification";
DROP TABLE IF EXISTS "public"."inventoryledger";
DROP TABLE IF EXISTS "public"."connector";
DROP TYPE IF EXISTS "public"."userrole";
DROP TYPE IF EXISTS "public"."postatus";
DROP TYPE IF EXISTS "public"."notificationchannel";
DROP TYPE IF EXISTS "public"."connectorprovider";
DROP TYPE IF EXISTS "public"."alertlevel";
--
-- Name: SCHEMA "public"; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA "public" IS 'standard public schema';


--
-- Name: alertlevel; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE "public"."alertlevel" AS ENUM (
    'RED',
    'YELLOW'
);


--
-- Name: connectorprovider; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE "public"."connectorprovider" AS ENUM (
    'SHOPIFY',
    'SQUARE',
    'LIGHTSPEED',
    'CSV'
);


--
-- Name: notificationchannel; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE "public"."notificationchannel" AS ENUM (
    'EMAIL',
    'IN_APP',
    'SMS'
);


--
-- Name: postatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE "public"."postatus" AS ENUM (
    'DRAFT',
    'SENT',
    'RECEIVED'
);


--
-- Name: userrole; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE "public"."userrole" AS ENUM (
    'OWNER',
    'MANAGER',
    'STAFF'
);


SET default_tablespace = '';

SET default_table_access_method = "heap";

--
-- Name: connector; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE "public"."connector" (
    "id" "uuid" NOT NULL,
    "provider" "public"."connectorprovider" NOT NULL,
    "access_token" character varying NOT NULL,
    "refresh_token" character varying,
    "expires_at" timestamp without time zone,
    "status" character varying NOT NULL,
    "created_by" "uuid" NOT NULL,
    "last_sync" timestamp without time zone
);


--
-- Name: inventoryledger; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE "public"."inventoryledger" (
    "id" "uuid" NOT NULL,
    "product_id" "uuid" NOT NULL,
    "quantity_delta" integer NOT NULL,
    "quantity_after" integer NOT NULL,
    "source" character varying NOT NULL,
    "reference_id" character varying,
    "timestamp" timestamp without time zone NOT NULL
);


--
-- Name: notification; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE "public"."notification" (
    "id" "uuid" NOT NULL,
    "user_id" "uuid" NOT NULL,
    "channel" "public"."notificationchannel" NOT NULL,
    "payload" json,
    "sent_at" timestamp without time zone,
    "read_at" timestamp without time zone
);


--
-- Name: product; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE "public"."product" (
    "id" "uuid" NOT NULL,
    "sku" character varying NOT NULL,
    "name" character varying NOT NULL,
    "variant" character varying,
    "supplier_id" "uuid",
    "cost" double precision NOT NULL,
    "on_hand" integer NOT NULL,
    "reorder_point" integer NOT NULL,
    "safety_stock" integer NOT NULL,
    "lead_time_days" integer NOT NULL,
    "created_at" timestamp without time zone NOT NULL,
    "alert_level" "public"."alertlevel",
    "user_id" "uuid" NOT NULL
);


--
-- Name: purchaseorder; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE "public"."purchaseorder" (
    "id" "uuid" NOT NULL,
    "supplier_id" "uuid" NOT NULL,
    "status" "public"."postatus" NOT NULL,
    "created_by" "uuid" NOT NULL,
    "pdf_url" character varying,
    "created_at" timestamp without time zone NOT NULL,
    "updated_at" timestamp without time zone NOT NULL
);


--
-- Name: purchaseorderitem; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE "public"."purchaseorderitem" (
    "id" "uuid" NOT NULL,
    "po_id" "uuid" NOT NULL,
    "product_id" "uuid" NOT NULL,
    "quantity" integer NOT NULL,
    "unit_cost" double precision NOT NULL
);


--
-- Name: sale; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE "public"."sale" (
    "id" "uuid" NOT NULL,
    "product_id" "uuid" NOT NULL,
    "quantity" integer NOT NULL,
    "sale_date" timestamp without time zone NOT NULL,
    "notes" character varying,
    "user_id" "uuid" NOT NULL
);


--
-- Name: skualias; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE "public"."skualias" (
    "id" "uuid" NOT NULL,
    "alias_sku" character varying NOT NULL,
    "canonical_sku" character varying NOT NULL,
    "notes" character varying,
    "created_at" timestamp without time zone NOT NULL,
    "user_id" "uuid" NOT NULL
);


--
-- Name: supplier; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE "public"."supplier" (
    "id" "uuid" NOT NULL,
    "name" character varying NOT NULL,
    "contact_email" character varying NOT NULL,
    "phone" character varying,
    "lead_time_days" integer NOT NULL,
    "notes" character varying,
    "created_at" timestamp without time zone NOT NULL,
    "user_id" "uuid" NOT NULL
);


--
-- Name: user; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE "public"."user" (
    "id" "uuid" NOT NULL,
    "email" character varying NOT NULL,
    "password_hash" character varying NOT NULL,
    "role" "public"."userrole" NOT NULL,
    "created_at" timestamp without time zone NOT NULL
);


--
-- Data for Name: connector; Type: TABLE DATA; Schema: public; Owner: -
--

COPY "public"."connector" ("id", "provider", "access_token", "refresh_token", "expires_at", "status", "created_by", "last_sync") FROM stdin;
\.


--
-- Data for Name: inventoryledger; Type: TABLE DATA; Schema: public; Owner: -
--

COPY "public"."inventoryledger" ("id", "product_id", "quantity_delta", "quantity_after", "source", "reference_id", "timestamp") FROM stdin;
f8513f9c-a3e0-4887-8c18-d97942854641	a78646b4-c01a-49fd-a91a-9382d11440a9	10	12	manual	\N	2025-05-07 00:13:23.527864
\.


--
-- Data for Name: notification; Type: TABLE DATA; Schema: public; Owner: -
--

COPY "public"."notification" ("id", "user_id", "channel", "payload", "sent_at", "read_at") FROM stdin;
\.


--
-- Data for Name: product; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: purchaseorder; Type: TABLE DATA; Schema: public; Owner: -
--

COPY "public"."purchaseorder" ("id", "supplier_id", "status", "created_by", "pdf_url", "created_at", "updated_at") FROM stdin;
\.


--
-- Data for Name: purchaseorderitem; Type: TABLE DATA; Schema: public; Owner: -
--

COPY "public"."purchaseorderitem" ("id", "po_id", "product_id", "quantity", "unit_cost") FROM stdin;
\.


--
-- Data for Name: sale; Type: TABLE DATA; Schema: public; Owner: -
--

COPY "public"."sale" ("id", "product_id", "quantity", "sale_date", "notes", "user_id") FROM stdin;
fd066eb3-939c-447c-a8fb-4e29886d11ce	5555f7a4-20eb-4c66-963f-c2ed91cac445	1	2025-05-06 20:19:51.30504	\N	ec3a64e4-08e2-41e5-9b3a-16cdb5dfaeb0
\.


--
-- Data for Name: skualias; Type: TABLE DATA; Schema: public; Owner: -
--

COPY "public"."skualias" ("id", "alias_sku", "canonical_sku", "notes", "created_at", "user_id") FROM stdin;
\.


--
-- Data for Name: supplier; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: connector connector_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."connector"
    ADD CONSTRAINT "connector_pkey" PRIMARY KEY ("id");


--
-- Name: inventoryledger inventoryledger_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."inventoryledger"
    ADD CONSTRAINT "inventoryledger_pkey" PRIMARY KEY ("id");


--
-- Name: notification notification_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."notification"
    ADD CONSTRAINT "notification_pkey" PRIMARY KEY ("id");


--
-- Name: product product_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."product"
    ADD CONSTRAINT "product_pkey" PRIMARY KEY ("id");


--
-- Name: purchaseorder purchaseorder_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."purchaseorder"
    ADD CONSTRAINT "purchaseorder_pkey" PRIMARY KEY ("id");


--
-- Name: purchaseorderitem purchaseorderitem_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."purchaseorderitem"
    ADD CONSTRAINT "purchaseorderitem_pkey" PRIMARY KEY ("id");


--
-- Name: sale sale_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."sale"
    ADD CONSTRAINT "sale_pkey" PRIMARY KEY ("id");


--
-- Name: skualias skualias_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."skualias"
    ADD CONSTRAINT "skualias_pkey" PRIMARY KEY ("id");


--
-- Name: supplier supplier_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."supplier"
    ADD CONSTRAINT "supplier_pkey" PRIMARY KEY ("id");


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."user"
    ADD CONSTRAINT "user_pkey" PRIMARY KEY ("id");


--
-- Name: ix_inventoryledger_source; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "ix_inventoryledger_source" ON "public"."inventoryledger" USING "btree" ("source");


--
-- Name: ix_product_name; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "ix_product_name" ON "public"."product" USING "btree" ("name");


--
-- Name: ix_product_sku; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "ix_product_sku" ON "public"."product" USING "btree" ("sku");


--
-- Name: ix_purchaseorder_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "ix_purchaseorder_status" ON "public"."purchaseorder" USING "btree" ("status");


--
-- Name: ix_purchaseorder_supplier_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "ix_purchaseorder_supplier_id" ON "public"."purchaseorder" USING "btree" ("supplier_id");


--
-- Name: ix_skualias_alias_sku; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "ix_skualias_alias_sku" ON "public"."skualias" USING "btree" ("alias_sku");


--
-- Name: ix_supplier_name; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "ix_supplier_name" ON "public"."supplier" USING "btree" ("name");


--
-- Name: ix_user_email; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "ix_user_email" ON "public"."user" USING "btree" ("email");


--
-- Name: connector connector_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."connector"
    ADD CONSTRAINT "connector_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "public"."user"("id");


--
-- Name: inventoryledger inventoryledger_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."inventoryledger"
    ADD CONSTRAINT "inventoryledger_product_id_fkey" FOREIGN KEY ("product_id") REFERENCES "public"."product"("id");


--
-- Name: notification notification_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."notification"
    ADD CONSTRAINT "notification_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."user"("id");


--
-- Name: product product_supplier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."product"
    ADD CONSTRAINT "product_supplier_id_fkey" FOREIGN KEY ("supplier_id") REFERENCES "public"."supplier"("id");


--
-- Name: product product_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."product"
    ADD CONSTRAINT "product_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."user"("id");


--
-- Name: purchaseorder purchaseorder_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."purchaseorder"
    ADD CONSTRAINT "purchaseorder_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "public"."user"("id");


--
-- Name: purchaseorder purchaseorder_supplier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."purchaseorder"
    ADD CONSTRAINT "purchaseorder_supplier_id_fkey" FOREIGN KEY ("supplier_id") REFERENCES "public"."supplier"("id");


--
-- Name: purchaseorderitem purchaseorderitem_po_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."purchaseorderitem"
    ADD CONSTRAINT "purchaseorderitem_po_id_fkey" FOREIGN KEY ("po_id") REFERENCES "public"."purchaseorder"("id");


--
-- Name: purchaseorderitem purchaseorderitem_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."purchaseorderitem"
    ADD CONSTRAINT "purchaseorderitem_product_id_fkey" FOREIGN KEY ("product_id") REFERENCES "public"."product"("id");


--
-- Name: sale sale_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."sale"
    ADD CONSTRAINT "sale_product_id_fkey" FOREIGN KEY ("product_id") REFERENCES "public"."product"("id");


--
-- Name: sale sale_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."sale"
    ADD CONSTRAINT "sale_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."user"("id");


--
-- Name: skualias skualias_canonical_sku_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."skualias"
    ADD CONSTRAINT "skualias_canonical_sku_fkey" FOREIGN KEY ("canonical_sku") REFERENCES "public"."product"("sku");


--
-- Name: skualias skualias_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."skualias"
    ADD CONSTRAINT "skualias_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."user"("id");


--
-- Name: supplier supplier_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."supplier"
    ADD CONSTRAINT "supplier_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."user"("id");


--
-- PostgreSQL database dump complete
--

